.DS_Store
.dart_tool/
.idea/
.packages
.pub/
.fvm/flutter_sdk
build/
example/ios/Flutter/ephemeral/flutter_lldb_helper.py
example/ios/Flutter/ephemeral/flutter_lldbinit
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m
example/.flutter-plugins-dependencies
